<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%-include('const/header')%>
  </head>
  <body>
    <%-include('segments/preAuth')%> <%-include('segments/login')%>
    <%-include('segments/verify')%> <%-include('segments/setPassword')%>
    <%-include('const/script')%>
  </body>
</html>
