<!DOCTYPE html>
<html lang="en" dir="rtl">
  <%-include('const/head')  %> 
  <body class="layout layout-header-fixed">
    <%-include('const/header')  %> 
    <div class="layout-main">
      <%-include('const/sidebar')  %> 
      <div class="layout-content">
        <div class="layout-content-body">
          <div class="row gutter-xs">
            
          </div>
        </div>
      </div>
      <%-include('const/footer')  %> 
    </div>
    <%-include('const/script')  %> 
  </body>
</html>
